<a href="https://colab.research.google.com/github/krio5076/Python-Basic/blob/main/12_Basic_Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas**
Pandas is an open-source library that is made mainly for working with relational or labeled data both easily and intuitively.

It provides various data structures and operations for manipulating numerical data and time series. This library is built on top of the NumPy library.

Pandas is fast and it has high performance & productivity for users.

Pandas generally provide two data structures for manipulating data, They are:

* Series

* DataFrame

**1. Series:**

Pandas Series is a one-dimensional labelled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called indexes. Pandas Series is nothing but a column in an excel sheet.

In [1]:
import pandas as pd
import numpy as np

In [6]:
#creating simple series
ser =  pd.Series()
 
print(ser)

Series([], dtype: float64)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [7]:
#simple array
data=np.array(['s','a','n','d','e','p'])
ser = pd.Series(data)
print(ser)

0    s
1    a
2    n
3    d
4    e
5    p
dtype: object

In [9]:
import numpy as np
import pandas as pd
s=[1,2,3,4,5,6]
ser= pd.Series(s)
ser

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [11]:
s= range(0,100,10)
s1 =[]
for i in s:
  s1.append(i)
  ser=pd.Series(s1)
print(1)
print(ser)

1
0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

## **2. DataFrame**
Pandas DataFrame is a two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns

![image.png]()

In [12]:
#calling dataframe constructor
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [13]:
#list of string
l=["hello","world","python","data"]
df=pd.DataFrame(l)
print(df)

        0
0   hello
1   world
2  python
3    data

In [14]:
list1=["thor","ironman",15,"hulk"]
df=pd.DataFrame(list1)
print(df)

         0
0     thor
1  ironman
2       15
3     hulk

## **Creating DataFrame from dict of ndarray/lists**:
To create DataFrame from dict of narray/list, all the narray must be of same length. If index is passed then the length index should be equal to the length of arrays. If no index is passed, then by default, index will be range(n) where n is the array length

In [15]:
#dataframe from dict narray/list
d={'name':["rahul","nikita","diksha","shyam","sagar","ganesh"],"age":[25,26,27,28,29,30]}
df=pd.DataFrame(d)
print(df)

     name  age
0   rahul   25
1  nikita   26
2  diksha   27
3   shyam   28
4   sagar   29
5  ganesh   30

# **Read CSV File**
* Click on three horizontal lines of left side of colab notebook.
* Click on "Mount drive" symbol.
* You will see the drive folder. Click on drive folder.
* Click on MyDrive folder.
* Find the csv file saved on your drive.
* Click on three verticle dots on right side of the .csv file.
* copy path of the nba.csv file
* provide that path into code to access the file

In [16]:
data=pd.read_csv("/content/drive/MyDrive/nba.csv")

In [17]:
data.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,6-2,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-6,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,6-5,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,6-5,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,6-10,231,NaN,5000000.0

In [18]:
data.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,6-2,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-6,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,6-5,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,6-5,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,6-10,231,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90,PF,29,6-9,240,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55,PF,21,6-8,235,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41,C,25,7-0,238,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12,PG,22,6-2,190,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36,PG,22,6-4,220,Oklahoma State,3431040.0

In [19]:
#viewing bottom rows
data.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
452,Trey Lyles,Utah Jazz,41,PF,20,6-10,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,6-3,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,6-1,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,7-3,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,7-0,231,Kansas,947276.0

In [21]:
data.tail(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
447,Rudy Gobert,Utah Jazz,27,C,23,7-1,245,NaN,1175880.0
448,Gordon Hayward,Utah Jazz,20,SF,26,6-8,226,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5,SG,23,6-8,206,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2,SF,28,6-8,226,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23,SF,26,6-6,206,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41,PF,20,6-10,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,6-3,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,6-1,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,7-3,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,7-0,231,Kansas,947276.0

In [23]:
data.sample() #random entry

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
58,Nik Stauskas,Philadelphia 76ers,11,SG,22,6-6,205,Michigan,2869440.0

In [24]:
data.sample(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
438,Luis Montero,Portland Trail Blazers,44,SG,23,6-7,185,Westchester CC,525093.0
68,Lucas Nogueira,Toronto Raptors,92,C,23,7-0,220,NaN,1842000.0
80,Stephen Curry,Golden State Warriors,30,PG,28,6-3,190,Davidson,11370786.0
302,Boban Marjanovic,San Antonio Spurs,40,C,27,7-3,290,NaN,1200000.0
64,DeMar DeRozan,Toronto Raptors,10,SG,26,6-7,220,USC,10050000.0
157,Taj Gibson,Chicago Bulls,22,PF,30,6-9,225,USC,8500000.0
413,Nick Collison,Oklahoma City Thunder,4,PF,35,6-10,255,Kansas,3750000.0
248,Andrew Goudelock,Houston Rockets,0,PG,27,6-3,200,Charleston,200600.0
174,Kevin Love,Cleveland Cavaliers,0,PF,27,6-10,251,UCLA,19689000.0
61,Bismack Biyombo,Toronto Raptors,8,C,23,6-9,245,NaN,2814000.0

In [25]:
data.loc(0)

In [28]:
#creating a series by using single column
series= data["Name"]
series

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
452       Trey Lyles
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
Name: Name, Length: 457, dtype: object

In [29]:
series= data["Age"]
series

0      25
1      25
2      27
3      22
4      29
       ..
452    20
453    26
454    24
455    26
456    26
Name: Age, Length: 457, dtype: int64

In [30]:
series= data["Salary"]
series

0      7730337.0
1      6796117.0
2            NaN
3      1148640.0
4      5000000.0
         ...
452    2239800.0
453    2433333.0
454     900000.0
455    2900000.0
456     947276.0
Name: Salary, Length: 457, dtype: float64

In [31]:
series= data["College"]
series

0                  Texas
1              Marquette
2      Boston University
3          Georgia State
4                    NaN
             ...
452             Kentucky
453               Butler
454                  NaN
455                  NaN
456               Kansas
Name: College, Length: 457, dtype: object

# Alternative method to connect to drive and load the data
from google.colab import drive drive.mount('/content/drive')

data = pd.read_csv("/content/drive/MyDrive/My Mentorship/nba.csv"

## **info()**

In [32]:
#.info method
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    int64
 3   Position  457 non-null    object
 4   Age       457 non-null    int64
 5   Height    457 non-null    object
 6   Weight    457 non-null    int64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(1), int64(3), object(5)
memory usage: 32.3+ KB

# .describe()
Pandas describe() is used to view some basic statistical details like percentile, mean, std etc. of a data frame or a series of numeric values. When this method is applied to a series of string, it returns a different output which is shown in the examples below

In [33]:
data.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

# **Dealing with Rows and Columns in Pandas DataFrame:**
* - 1 Column Selection:
In Order to select a column in Pandas DataFrame, we can either access the columns by calling them by their columns name.

In [35]:
dict=  {"Name": ["rahul","Sandeep","harsh","Mars"],"Age":[100,105,160,155],
         "salery":[300,200,500,502]}
df=pd.DataFrame(dict)
print(df['Name'])

0      rahul
1    Sandeep
2      harsh
3       Mars
Name: Name, dtype: object

In [41]:
import pandas as pd
print(df[["Age","salery"]])

   Age  salery
0  100     300
1  105     200
2  160     500
3  155     502

# 1. Column Addition: In Order to add a column in Pandas DataFrame, we can declare a new list as a column and add to a existing Dataframe.

In [42]:
dict1 = {"name":["thor","hulk","ironman","Thanos"],
         "address":["khalchi wadi","varchi wadi","hyalagad","tyalagad"]}
df= pd.DataFrame(dict1)
nickname=["thor tatya","hulk anna","iron appa","thanos tatya"]
df["nickname"]=nickname
print(df)

      name       address      nickname
0     thor  khalchi wadi    thor tatya
1     hulk   varchi wadi     hulk anna
2  ironman      hyalagad     iron appa
3   Thanos      tyalagad  thanos tatya

## **2. Column Deletion: In Order to delete a column in Pandas DataFrame, we can use the drop() method. Columns is deleted by dropping columns with column names**

In [44]:
data=pd.read_csv("/content/drive/MyDrive/nba.csv")
#dropping passed columns
data.drop(['Team','Weight'],axis = 1,inplace=True)
print(data)

              Name  Number Position  Age Height            College     Salary
0    Avery Bradley       0       PG   25    6-2              Texas  7730337.0
1      Jae Crowder      99       SF   25    6-6          Marquette  6796117.0
2     John Holland      30       SG   27    6-5  Boston University        NaN
3      R.J. Hunter      28       SG   22    6-5      Georgia State  1148640.0
4    Jonas Jerebko       8       PF   29   6-10                NaN  5000000.0
..             ...     ...      ...  ...    ...                ...        ...
452     Trey Lyles      41       PF   20   6-10           Kentucky  2239800.0
453   Shelvin Mack       8       PG   26    6-3             Butler  2433333.0
454      Raul Neto      25       PG   24    6-1                NaN   900000.0
455   Tibor Pleiss      21        C   26    7-3                NaN  2900000.0
456    Jeff Withey      24        C   26    7-0             Kansas   947276.0

[457 rows x 7 columns]

In [45]:
data.drop(["Number"],axis=1)

              Name Position  Age Height            College     Salary
0    Avery Bradley       PG   25    6-2              Texas  7730337.0
1      Jae Crowder       SF   25    6-6          Marquette  6796117.0
2     John Holland       SG   27    6-5  Boston University        NaN
3      R.J. Hunter       SG   22    6-5      Georgia State  1148640.0
4    Jonas Jerebko       PF   29   6-10                NaN  5000000.0
..             ...      ...  ...    ...                ...        ...
452     Trey Lyles       PF   20   6-10           Kentucky  2239800.0
453   Shelvin Mack       PG   26    6-3             Butler  2433333.0
454      Raul Neto       PG   24    6-1                NaN   900000.0
455   Tibor Pleiss        C   26    7-3                NaN  2900000.0
456    Jeff Withey        C   26    7-0             Kansas   947276.0

[457 rows x 6 columns]

In [48]:
data.drop(["Position","College"],axis=1,inplace=True)
print(data)

              Name  Number  Age Height     Salary
0    Avery Bradley       0   25    6-2  7730337.0
1      Jae Crowder      99   25    6-6  6796117.0
2     John Holland      30   27    6-5        NaN
3      R.J. Hunter      28   22    6-5  1148640.0
4    Jonas Jerebko       8   29   6-10  5000000.0
..             ...     ...  ...    ...        ...
452     Trey Lyles      41   20   6-10  2239800.0
453   Shelvin Mack       8   26    6-3  2433333.0
454      Raul Neto      25   24    6-1   900000.0
455   Tibor Pleiss      21   26    7-3  2900000.0
456    Jeff Withey      24   26    7-0   947276.0

[457 rows x 5 columns]

# Dealing with Rows:
In order to deal with rows, we can perform basic operations on rows like selecting, deleting, adding and renaming.

Row Selection:

Pandas provide a unique method to retrieve rows from a Data frame.DataFrame.loc[] method is used to retrieve rows from Pandas DataFrame. Rows can also be selected by passing integer location to an iloc[] function

In [75]:
import pandas as pd
data=pd.read_csv("/content/drive/MyDrive/nba.csv",index_col="Name")
df=pd.DataFrame(data)

first=data.loc["Avery Bradley"]
second=data.loc["R.J. Hunter"]
print(first,"\n\n\n",second)

Team        Boston Celtics
Number                   0
Position                PG
Age                     25
Height                 6-2
Weight                 180
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object


 Team        Boston Celtics
Number                  28
Position                SG
Age                     22
Height                 6-5
Weight                 185
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

## **in Order to add a Row in Pandas DataFrame, we can concat the old dataframe with new one.**

In [86]:
#importing pandas module
import pandas as pd
#making data frame
data=pd.read_csv("/content/drive/MyDrive/nba.csv",index_col="Name")
print(df.head(10))
new_row = pd.DataFrame({'Name':'Geeks', 'Team':'Boston', 'Number':3,
						'Position':'PG', 'Age':33, 'Height':'6-2',
						'Weight':189, 'College':'MIT', 'Salary':99999},
															index =[0])
#simply concatenate both dataframes
df=pd.concat([new_row,df]).reset_index(drop=True)
df.head(5)

    Name            Team  Number Position  Age Height  Weight  \
0  Geeks          Boston       3       PG   33    6-2     189
1    NaN  Boston Celtics       0       PG   25    6-2     180
2    NaN  Boston Celtics      99       SF   25    6-6     235
3    NaN  Boston Celtics      30       SG   27    6-5     205
4    NaN  Boston Celtics      28       SG   22    6-5     185
5    NaN  Boston Celtics       8       PF   29   6-10     231
6    NaN  Boston Celtics      90       PF   29    6-9     240
7    NaN  Boston Celtics      55       PF   21    6-8     235
8    NaN  Boston Celtics      41        C   25    7-0     238
9    NaN  Boston Celtics      12       PG   22    6-2     190

             College      Salary
0                MIT     99999.0
1              Texas   7730337.0
2          Marquette   6796117.0
3  Boston University         NaN
4      Georgia State   1148640.0
5                NaN   5000000.0
6                NaN  12000000.0
7                LSU   1170960.0
8            Gonzaga   2165160.0
9         Louisville   1824360.0

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Geeks,Boston,3,PG,33,6-2,189,MIT,99999.0
1,Geeks,Boston,3,PG,33,6-2,189,MIT,99999.0
2,NaN,Boston Celtics,0,PG,25,6-2,180,Texas,7730337.0
3,NaN,Boston Celtics,99,SF,25,6-6,235,Marquette,6796117.0
4,NaN,Boston Celtics,30,SG,27,6-5,205,Boston University,NaN

# Row Deletion:
In Order to delete a row in Pandas DataFrame, we can use the drop() method. Rows is deleted by dropping Rows by index label.

In [87]:
import pandas as pd
data=pd.read_csv("/content/drive/MyDrive/nba.csv")
data.drop([1,3,5,455,456])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,6-2,180,Texas,7730337.0
2,John Holland,Boston Celtics,30,SG,27,6-5,205,Boston University,NaN
4,Jonas Jerebko,Boston Celtics,8,PF,29,6-10,231,NaN,5000000.0
6,Jordan Mickey,Boston Celtics,55,PF,21,6-8,235,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41,C,25,7-0,238,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...
450,Joe Ingles,Utah Jazz,2,SF,28,6-8,226,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23,SF,26,6-6,206,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41,PF,20,6-10,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,6-3,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,6-1,179,NaN,900000.0

In [89]:
data.drop([])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,6-2,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-6,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,6-5,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,6-5,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,6-10,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,6-10,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,6-3,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,6-1,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,7-3,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,7-0,231,Kansas,947276.0

In [90]:
import pandas as pd
data=pd.read_csv("/content/drive/MyDrive/nba.csv",index_col="Name")
data.drop(["Jeff Withey", "Shelvin Mack" ,"R.J. Hunter" ,"Jae Crowder"])

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0,PG,25,6-2,180,Texas,7730337.0
John Holland,Boston Celtics,30,SG,27,6-5,205,Boston University,NaN
Jonas Jerebko,Boston Celtics,8,PF,29,6-10,231,NaN,5000000.0
Amir Johnson,Boston Celtics,90,PF,29,6-9,240,NaN,12000000.0
Jordan Mickey,Boston Celtics,55,PF,21,6-8,235,LSU,1170960.0
...,...,...,...,...,...,...,...,...
Joe Ingles,Utah Jazz,2,SF,28,6-8,226,NaN,2050000.0
Chris Johnson,Utah Jazz,23,SF,26,6-6,206,Dayton,981348.0
Trey Lyles,Utah Jazz,41,PF,20,6-10,234,Kentucky,2239800.0
Raul Neto,Utah Jazz,25,PG,24,6-1,179,NaN,900000.0
Tibor Pleiss,Utah Jazz,21,C,26,7-3,256,NaN,2900000.0